# 2019 StudentMoveTO Survey Data - Tabulation and Segmentation

In this notebook, we tabulate the data from the 2019 StudentMoveTO Survey. This includes paying specific attention to factors such as age, gender, and the distribution of respondents by affiliated university and campus.

In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

df = pd.read_csv('../Data/SMTO_2019/SMTO_2019_Respondents.csv')
df1 = pd.read_csv('../Data/SMTO_2019/SMTO_2019_Households.csv')

C:\Users\ethan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [97]:
df = df.set_index('UniquePsKey_')
df1 = df1.set_index('UniquePsKey_')
temp = pd.concat([df, df1], axis=1)

KeyError: "None of ['UniquePsKey_'] are in the columns"

In [80]:
temp2 = temp[temp['hhbuildingtype'] == "On-campus residence"]
temp2

,PsKey_,psgender,psage,psinstitution,psinternationalstudent,psdisability,psuniversityaffiliation,personstatusgrad,personstatustime,pscollegeaffiliation,...,hhownership,familyincomelevel,HmCTuid,HmTTS2006,HmPD,HmRegion,HmFSA2016,tripsdatekey,TolTp,surveyComplDate
UniquePsKey_,,,,,,,,,,,,,,,,,,,,,
32,51,Female,19.0,Centennial College,Yes,No,NaN,NaN,NaN,Full-Time,...,Unknown,Prefer not to answer,5350363.07,493.0,13.0,1.0,M1G,10/6/2019,NaN,10/7/2019
81,114,Male,39.0,Centennial College,Yes,No,NaN,NaN,NaN,Full-Time,...,Tenant,"$ 60,000 - 69,999",5350363.07,493.0,13.0,1.0,M1G,10/9/2019,2.0,10/10/2019
180,232,Male,18.0,Centennial College,Yes,No,NaN,NaN,NaN,Full-Time,...,Tenant,NaN,5350363.07,493.0,13.0,1.0,M1G,10/15/2019,NaN,10/16/2019
211,270,Female,20.0,Centennial College,No,No,NaN,NaN,NaN,Full-Time,...,Tenant,NaN,5350363.07,493.0,13.0,1.0,M1G,10/17/2019,1.0,10/18/2019
240,307,Male,21.0,Centennial College,Yes,No,NaN,NaN,NaN,Part-Time,...,Tenant,"$ 15,000 - 29,999",5350363.07,493.0,13.0,1.0,M1G,10/20/2019,NaN,10/21/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19029,2503,Female,19.0,York University,No,No,Full-Time Undergraduate,UG,FT,NaN,...,Tenant,"$ 150,000 - 199,999",5350311.06,391.0,10.0,1.0,M3J,11/18/2019,2.0,11/19/2019
19053,2528,Male,35.0,York University,No,No,Full-Time Graduate,Grad,FT,NaN,...,Tenant,NaN,5350311.06,398.0,10.0,1.0,M3J,11/18/2019,2.0,11/19/2019
19057,2532,Prefer not to answer,22.0,York University,Yes,No,Full-Time Undergraduate,UG,FT,NaN,...,Tenant,"$ 30,000 - 39,999",5350311.06,391.0,10.0,1.0,M3J,11/18/2019,NaN,11/19/2019
19080,2558,Female,21.0,York University,No,No,Full-Time Graduate,Grad,FT,NaN,...,Tenant,NaN,5350311.06,398.0,10.0,1.0,M3J,11/20/2019,1.0,11/21/2019
19133,2616,Female,18.0,York University,No,No,Full-Time Undergraduate,UG,FT,NaN,...,Owner,"$ 70,000 - 79,999",5350142,214.0,4.0,1.0,M4N,12/18/2019,NaN,12/19/2019

In [77]:
temp2['psinstitution'].value_counts()

University of Toronto      304
McMaster University         92
York University             83
Ryerson University          67
Sheridan College            48
Ontario Tech University     27
Durham College              26
Centennial College          23
Mohawk College               4
OCAD University              4
Name: psinstitution, dtype: int64

In [81]:
temp2['psinternationalstudent'].value_counts(normalize=True)

No     0.70649
Yes    0.29351
Name: psinternationalstudent, dtype: float64

In [88]:
temp2['psinstitutioninvolvedyears'].value_counts()

2019               469
2018               107
2017                54
2016                31
2015                12
2013 or earlier      5
Name: psinstitutioninvolvedyears, dtype: int64

In [95]:
temp2['psyearofstudy'].value_counts()

1st year    78
2nd year    16
3rd year     7
Name: psyearofstudy, dtype: int64

In [90]:
temp2['personstatusgrad '].value_counts()

UG       513
Grad      58
Other      6
Name: personstatusgrad , dtype: int64

In [91]:
temp2['HmTTS2006'].value_counts()

5198.0    82
70.0      62
69.0      60
47.0      55
38.0      47
          ..
1124.0     1
490.0      1
4016.0     1
52.0       1
2257.0     1
Name: HmTTS2006, Length: 62, dtype: int64

In [92]:
temp2['psuniversityaffiliation'].value_counts()

Full-Time Undergraduate         511
Full-Time Graduate               55
Other, e.g. exchange student      6
Part-Time Graduate                3
Part-Time Undergraduate           2
Name: psuniversityaffiliation, dtype: int64

In [93]:
temp2['pscollegeaffiliation'].value_counts()

Full-Time     100
Part-Time       1
Name: pscollegeaffiliation, dtype: int64

In [96]:
temp2['psmainmodefalltypical'].value_counts()

Walk                                                              500
Transit Bus                                                        57
Subway/RT                                                          25
I do not travel to the university (distance learners only)         14
Paratransit service (e.g., bus transport for disabled persons)     13
Bicycle                                                            10
GO Bus                                                              7
Inter-campus shuttle                                                6
Auto passenger (driver is a household member)                       5
Drive alone                                                         5
Other                                                               5
GO Train                                                            3
Ride-hailing alone (UberX, Lyft etc.)                               3
Bikeshare                                                           3
Drive with passenger(s) (household members only)                    1
Accessibility adapted vehicle as passenger                          1
Taxi                                                                1
Streetcar                                                           1
Accessibility adapted vehicle as driver                             1
Name: psmainmodefalltypical, dtype: int64

In [98]:
temp2['numroommates'].value_counts()

1.0     255
3.0     112
5.0      32
2.0      23
4.0      22
7.0       5
6.0       3
50.0      3
15.0      1
12.0      1
20.0      1
35.0      1
11.0      1
Name: numroommates, dtype: int64

In [87]:
for col in temp2:
    print(temp2[col].count(), col)

PsKey_    678
PsKey_    678
dtype: int64 PsKey_
678 psgender
678 psage
678 psinstitution
678 psinternationalstudent
678 psdisability
577 psuniversityaffiliation
577 personstatusgrad
577 personstatustime
101 pscollegeaffiliation
101 pscredentialtoreceive
101 psyearofstudy
678 ps_faculty_school
607 pscampusmain
678 psinstitutioninvolvedyears
678 psworknumhoursperweek
678 psdrivinglicenseowner
344 psagefirstdrivinglicense
334 psconsideringtohavedrivinglicenseinfuture
678 psautoavailability
77 psautotype
77 psautofueltechnology
76 psautomodelyear
678 pstransitpassowner
678 psbikeowner
678 psbikesharemember
21 psbikeshareusefrequency
678 psinstalledridehailingapp
429 psridehailusefrequency
678 psinstalledtripplanningapp
209 pstripplanningappusefrequency
344 pscarsharemember
678 psmonthlytravelcost
678 PsMadeTripsYesterday
340 PsNoTripReason
675 familysupporteducation
661 psmainmodefalltypical
92 pstypicalfalltransitaccessmode
88 pstypicalfalltransitegressmode
5 pscarpoolinsteadofdriving
7 pstypicalcarparkfall
13 pstypicalbikeparkfall
13 psbikeparkingdifficultyfall
545 psalternatefallmodepreference
642 psmainmodewintersame
27 psmainmodewintertypical
14 pstypicalwintertransitaccessmode
14 pstypicalwintertransitegressmode
0 pstypicalcarparkwinter
27 psalternatewintermodepreference
634 psfrequencycommute
627 psfrequencytelecommute
631 pswenttoschoolinpastmonth
610 PsPastMonthRidehailFrequency
602 PsPastMonthBikeFrequency
601 PsPastMonthTransitFrequency
595 PsPastMonthWalkFrequency
593 PsPastMonthDriveFrequency
678 psagreeothersurveys
215 psparticipateprize
PsKey_    678
PsKey_    678
dtype: int64 PsKey_
678 hhlivingsituation
34 hhstructure
34 hhsize
12 hhnumdependentchildren
460 numroommates
677 hhvehiclenumber
678 hhbuildingtype
675 yearslivingincurrentresidence
675 hhlocationchoicereason1_noroleonchoice
675 hhlocationchoicereason2_housingcost
675 hhlocationchoicereason3_proximitytofamily
675 hhlocationchoicereason4_proximitytotransit
675 hhlocationchoicereason5_walkabilitybikabilityofneighbourhood
675 hhlocationchoicereason6_convenienceofdriving
675 hhlocationchoicereason7_neighbourhoodamenities
675 hhlocationchoicereason8_otherreason
677 hhownership
566 familyincomelevel
678 HmCTuid
678 HmTTS2006
678 HmPD
678 HmRegion
678 HmFSA2016
678 tripsdatekey
336 TolTp
678 surveyComplDate