In [1]:
import pandas as pd

df = pd.read_csv('../Data/SMTO_2015/SMTO_2015_ML_Format.csv')
df.head()

,Family?,Home Zone,Cars,Children,Adults,Income,Gender,Age,Status,License,Distance,Employment,Mode
0,1,261,1,3,4,0,1,20,2,0,14.00,0,1
1,0,71,0,0,2,2,1,25,2,1,0.75,0,10
2,1,3714,1,0,4,0,1,23,2,1,29.50,0,1
3,0,74,0,0,4,0,2,20,2,1,0.75,0,10
4,0,71,0,0,2,1,2,27,2,1,0.75,0,10

In [2]:
from sklearn.model_selection import train_test_split

feature_names = ['Cars', 'Children', 'Adults', 'Income', 'Gender', 'Age', 'Status', 'License', 'Distance', 'Employment', 'Mode']
x = df[feature_names]
y = df['Family?']

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [3]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100)
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)

In [4]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9103049187625195

In [5]:
pd.Series(rf.feature_importances_, index = feature_names).sort_values(ascending=False)

Distance      0.231177
Cars          0.222357
Adults        0.196824
Age           0.136599
Mode          0.080189
Children      0.047937
Income        0.021586
License       0.019176
Employment    0.017984
Gender        0.014633
Status        0.011539
dtype: float64