In [54]:
import pandas as pd
import math
import csv

In [55]:
zones_df = pd.read_csv('arcGis_data.csv')
zones_df.set_index(zones_df['GTA06'], inplace=True)
zones_df.head()

,FID,Shape,NUM,GTA06,PD,REGION,GTA01,AREA_M,AREA_H,UTMX_CENT,UTMY_CENT
GTA06,,,,,,,,,,,
1,2151,Polygon,1,1,1,1,359,0,0,0,0
2,1826,Polygon,2,2,1,1,360,0,0,0,0
3,2153,Polygon,3,3,1,1,359,0,0,0,0
4,1961,Polygon,4,4,1,1,478,0,0,0,0
5,1960,Polygon,5,5,1,1,478,0,0,0,0

In [56]:
rf_df = pd.read_csv('../Data/SMTO_2015/RF_Predictions.csv')
rf_df.tail()

,Origin,Dist.SG,Dist.SC,Dist.MI,Dist.YK,Dist.YG,Dist.RY,Dist.OC,HZ,Dists
2387,8029,77.23938,93.74969,60.94601,69.60850,79.09734,78.75591,77.68904,YK,SG
2388,8030,87.71857,92.80574,89.03488,72.48661,82.65608,88.26360,89.03080,YK,YK
2389,8031,99.82174,116.33210,83.30616,92.19087,101.67970,101.33830,100.27140,YK,YK
2390,8032,54.63737,59.72455,65.54156,42.74821,49.57488,55.18241,55.94960,YK,SG
2391,8033,81.97251,87.05968,91.53315,70.08334,76.91002,82.51754,83.28473,YK,YK

In [57]:
rf_df.set_index(rf_df['Origin'],inplace = True)

In [58]:
series = pd.Series(rf_df['Dists'], index=zones_df.index)

In [59]:
rf_df['Dists'].tail()

Origin
8029    SG
8030    YK
8031    YK
8032    SG
8033    YK
Name: Dists, dtype: object

In [60]:
series.loc[3003]

'YK'

In [61]:
series.to_csv('ArcFile_Merge_Dists.csv', index = True, header = ['Prediction'])