In [1]:
import pandas as pd
df_2015 = pd.read_csv('SMTO_2015/SMTO_2015_Complete_Input.csv')
df_2015 = df_2015[df_2015['Level'] != 'Other']
df_2015.columns

Index(['Campus', 'Level', 'Status', 'Mode_Actual', 'Gender', 'Licence', 'Work',
       'Age', 'HomeZone', 'Family', 'Cars', 'Children', 'Adults', 'Income',
       'Mode', 'School', 'Segment', 'Dist.SG', 'Dist.SC', 'Dist.MI', 'Dist.YK',
       'Dist.YG', 'Dist.RY', 'Dist.OC', 'WTT.SG', 'WTT.SC', 'WTT.MI', 'WTT.YK',
       'WTT.YG', 'WTT.RY', 'WTT.OC', 'AIVTT.SG', 'AIVTT.SC', 'AIVTT.MI',
       'AIVTT.YK', 'AIVTT.YG', 'AIVTT.RY', 'AIVTT.OC', 'TPTT.SG', 'TPTT.SC',
       'TPTT.MI', 'TPTT.YK', 'TPTT.YG', 'TPTT.RY', 'TPTT.OC', 'Total.SG',
       'Total.SC', 'Total.MI', 'Total.YK', 'Total.YG', 'Total.RY', 'Total.OC',
       'UG.SG', 'UG.SC', 'UG.MI', 'UG.YK', 'UG.YG', 'UG.RY', 'UG.OC',
       'Grad.SG', 'Grad.SC', 'Grad.MI', 'Grad.YK', 'Grad.YG', 'Grad.RY',
       'Grad.OC', 'Tuition.SG', 'Tuition.SC', 'Tuition.MI', 'Tuition.YK',
       'Tuition.YG', 'Tuition.RY', 'Tuition.OC', 'Domestic.SG', 'Domestic.SC',
       'Domestic.MI', 'Domestic.YK', 'Domestic.YG', 'Domestic.RY',
       'Domestic.OC', 'Admission_Avg.SG', 'Admission_Avg.SC',
       'Admission_Avg.MI', 'Admission_Avg.YK', 'Admission_Avg.YG',
       'Admission_Avg.RY', 'Admission_Avg.OC', 'Exp_Segment', 'Exp_Level',
       'Time.Active', 'Time.Auto', 'Time.Transit', 'Closest.MI', 'Closest.OC',
       'Closest.RY', 'Closest.SC', 'Closest.SG', 'Closest.YG', 'Closest.YK',
       'PD'],
      dtype='object')

In [2]:
df_2019 = pd.read_csv('SMTO_2019/SMTO_2019_Complete_Input.csv')
df_2019.columns

Index(['Liv_Arr', 'Children', 'Cars', 'Income', 'Home_Zone', 'School',
       'Campus', 'Work', 'Licence', 'Mode', 'Age', 'School_Type', 'Family',
       'Level', 'Status', 'Campus_Zone', 'Enrol.CST', 'Enrol.CAS', 'Enrol.CPR',
       'Enrol.CMO', 'Enrol.CDV', 'Enrol.CEG', 'Enrol.CPI', 'Enrol.CDS',
       'Enrol.DOS', 'Enrol.DWH', 'Enrol.MCM', 'Enrol.MCB', 'Enrol.MOF',
       'Enrol.MOS', 'Enrol.MOI', 'Enrol.OTD', 'Enrol.OTN', 'Enrol.SHD',
       'Enrol.SHH', 'Enrol.SHT', 'Enrol.MI', 'Enrol.SC', 'Enrol.SG',
       'Enrol.YK', 'Enrol.YG', 'Enrol.RY', 'Enrol.OC', 'Dist.CST', 'Dist.CAS',
       'Dist.CPR', 'Dist.CMO', 'Dist.CDV', 'Dist.CEG', 'Dist.CPI', 'Dist.CDS',
       'Dist.DOS', 'Dist.DWH', 'Dist.MCM', 'Dist.MCB', 'Dist.MOF', 'Dist.MOS',
       'Dist.MOI', 'Dist.OTD', 'Dist.OTN', 'Dist.SHD', 'Dist.SHH', 'Dist.SHT',
       'Dist.MI', 'Dist.SC', 'Dist.SG', 'Dist.YK', 'Dist.YG', 'Dist.RY',
       'Dist.OC', 'Closest', 'Closest.CST', 'Closest.CAS', 'Closest.CPR',
       'Closest.CMO', 'Closest.CDV', 'Closest.CEG', 'Closest.CPI',
       'Closest.CDS', 'Closest.DOS', 'Closest.DWH', 'Closest.MCM',
       'Closest.MCB', 'Closest.MOF', 'Closest.MOS', 'Closest.MOI',
       'Closest.OTD', 'Closest.OTN', 'Closest.SHD', 'Closest.SHH',
       'Closest.SHT', 'Closest.MI', 'Closest.SC', 'Closest.SG', 'Closest.YK',
       'Closest.YG', 'Closest.RY', 'Closest.OC'],
      dtype='object')

In [3]:
df_2015['Source'] = 2015
df_2019['Source'] = 2019

df_2015['Source_Index'] = df_2015.index
df_2019['Source_Index'] = df_2019.index

df_2015['School_Type'] = 'University'
df_2015 = df_2015.rename(columns = {'HomeZone': 'Home_Zone'})
df_2019['Home_Zone'] = df_2019['Home_Zone'].astype(int)

temp_2015 = df_2015[['Source', 'Source_Index', 'School', 'School_Type', 'Mode', 'Home_Zone']]
temp_2019 = df_2019[['Source', 'Source_Index', 'School', 'School_Type', 'Mode', 'Home_Zone']]


combined_df = pd.concat((temp_2015, temp_2019), ignore_index=True)
combined_df

       Source  Source_Index School School_Type     Mode  Home_Zone
0        2015             0     SC  University  Transit        261
1        2015             1     SG  University   Active         71
2        2015             2     SG  University  Transit       3714
3        2015             3     SG  University   Active         74
4        2015             4     SG  University   Active         71
...       ...           ...    ...         ...      ...        ...
30989    2019         16511     YK  University      NaN       2133
30990    2019         16512     YK  University   Active        398
30991    2019         16513     YK  University  Transit       2763
30992    2019         16514     YG  University   Active        214
30993    2019         16515     YK  University  Transit       2613

[30994 rows x 6 columns]

In [4]:
PD_df = pd.read_csv('Zones.csv')
PD_df.set_index(PD_df['Zone#'],inplace = True)

combined_df['PD'] = combined_df['Home_Zone'].apply(lambda x: PD_df['PD'][x])
combined_df.columns

Index(['Source', 'Source_Index', 'School', 'School_Type', 'Mode', 'Home_Zone',
       'PD'],
      dtype='object')

In [5]:
"""
Enrol, Dist, Closest
"""
df_2015['Source'] = 2015
df_2019['Source'] = 2019

df_2015['Source_Index'] = df_2015.index
df_2019['Source_Index'] = df_2019.index

df_2015['Family'] = df_2015['Family'].astype(bool)
df_2015['Licence'] = df_2015['Licence'].astype(bool)

temp_2019 = df_2019[['Family', 'Cars', 'Income', 'Level', 'Status', 'Age', 'Licence', 'Work']]
temp_2015 = df_2015[['Family', 'Cars', 'Income', 'Level', 'Status', 'Age', 'Licence', 'Work']]

temp_combined_df = pd.concat((temp_2015, temp_2019), ignore_index=True)
combined_df = pd.concat((combined_df, temp_combined_df), axis=1)
combined_df.columns

Index(['Source', 'Source_Index', 'School', 'School_Type', 'Mode', 'Home_Zone',
       'PD', 'Family', 'Cars', 'Income', 'Level', 'Status', 'Age', 'Licence',
       'Work'],
      dtype='object')

In [6]:
dists_df = pd.read_csv('../../LoS/Walk_Distances.csv')
zones = dists_df['Origin'].unique().tolist()
dists = dists_df['Data'].tolist()

def get_distance(o, d):
    if o in zones and d in zones:
        i = zones.index(o)
        j = zones.index(d)
        return dists[i*2392 + j] / 1000
    else:
        return -1

In [7]:
campus_info = pd.read_csv('School_Info_2019_Pred_Enrol.csv')[['Code', 'Zone', 'Total']].set_index('Code')
campus_info.head()

      Zone         Total
Code
CST    282   1425.000000
CAS    526   2332.000000
CPR    493  11871.000000
CMO    564   4035.776162
CDV    419     42.212872

In [8]:
schools = combined_df['School'].unique().tolist()
for school in schools:
    combined_df['Dist.' + school] = combined_df['Home_Zone'].apply(lambda x: get_distance(x, campus_info['Zone'].loc[school]))
for school in schools:
    combined_df['Enrol.' + school] = campus_info['Total'].loc[school]

In [15]:
combined_df.columns

Index(['Source', 'Source_Index', 'School', 'School_Type', 'Mode', 'Home_Zone',
       'PD', 'Family', 'Cars', 'Income', 'Level', 'Status', 'Age', 'Licence',
       'Work', 'Dist.SC', 'Dist.SG', 'Dist.MI', 'Dist.OC', 'Dist.RY',
       'Dist.YK', 'Dist.YG', 'Dist.CPR', 'Dist.CMO', 'Dist.CAS', 'Dist.CST',
       'Dist.CDV', 'Dist.CEG', 'Dist.CDS', 'Dist.CPI', 'Dist.DOS', 'Dist.DWH',
       'Dist.MCM', 'Dist.MCB', 'Dist.MOF', 'Dist.MOI', 'Dist.MOS', 'Dist.OTN',
       'Dist.OTD', 'Dist.SHT', 'Dist.SHD', 'Dist.SHH', 'Enrol.SC', 'Enrol.SG',
       'Enrol.MI', 'Enrol.OC', 'Enrol.RY', 'Enrol.YK', 'Enrol.YG', 'Enrol.CPR',
       'Enrol.CMO', 'Enrol.CAS', 'Enrol.CST', 'Enrol.CDV', 'Enrol.CEG',
       'Enrol.CDS', 'Enrol.CPI', 'Enrol.DOS', 'Enrol.DWH', 'Enrol.MCM',
       'Enrol.MCB', 'Enrol.MOF', 'Enrol.MOI', 'Enrol.MOS', 'Enrol.OTN',
       'Enrol.OTD', 'Enrol.SHT', 'Enrol.SHD', 'Enrol.SHH'],
      dtype='object')

In [14]:
combined_df.to_csv('SMTO_Combined_Complete_Input.csv', index=False)