# School Location Choice Model

In this notebook, a simple logit location choice model is used to predict university campus choice. Data from the 2015 StudentMoveTO data is used. The model is run separately on each of the 13 segments we have previously outlined.

First, we install Biogeme and Pandas, and load the original data.

In [1]:
import biogeme.database as db
import biogeme.biogeme as bio
import biogeme.models as models
from biogeme.expressions import Beta, DefineVariable
#import biogeme.messaging as msg
import pandas as pd

hh_df = pd.read_csv('../Data/SMTO_2015/SMTO_2015_Households.csv')
ps_df = pd.read_csv('../Data/SMTO_2015/SMTO_2015_Respondents.csv')

Now, we prepare a dataframe which will be used as input for Biogeme by selecting and manipulating the relevant columns from the data. We use a function to convert information about Level, Status, Years of Involvement, and Living Arrangement into a column containing the respondent's Segment.

In [2]:
def info_to_segment(x):
    if x.Level == 'Other':
        return 0
    elif x.Level == 'UG':
        return (not x.Family) + (1 if x.Years == 0 else 3)
    else:
        return 5 + (not x.Family)

# Load relevant columns
df = ps_df[['pscampusattend', 'personstatusgrad', 'personstatustime', 'psuniversityinvolvednumyears']]
df = df.join(hh_df[['HmTTS2006', 'hhlivingsituation']])
df = df.rename(columns={'HmTTS2006': 'HomeZone', 'pscampusattend': 'Campus', 'hhlivingsituation': 'Family', 
                       'personstatusgrad': 'Level', 'personstatustime': 'Status', 'psuniversityinvolvednumyears': 'Years'})
df = df.dropna() # Remove rows with missing data

# Convert Campus column to numerical column
campus_name_to_num = {"Downtown Toronto (St. George)": 0, "Scarborough (UTSC)": 1, "Mississauga (UTM)": 2,
                      "Keele": 3, "Glendon": 4, "RyersonU": 5, "OCADu": 6}
df.replace({'Campus': campus_name_to_num}, inplace=True)
df['HomeZone'] = pd.to_numeric(df['HomeZone'], downcast='signed')
df['Family'] = (df['Family'] == 'Live with family/parents')*1
df['Segment'] = df.apply(info_to_segment, axis=1)
df['Available'] = 1 # All campuses available to all students

df['Segment'].value_counts()

3    5229
4    2717
6    2514
1    2081
2    1070
5     981
0     318
Name: Segment, dtype: int64

Keeping only the relevant columns, we have:

In [3]:
df = df[['Campus', 'HomeZone', 'Segment', 'Available']]
df

       Campus  HomeZone  Segment  Available
0           1       261        3          1
1           0        71        6          1
2           0      3714        3          1
3           0        74        4          1
4           0        71        6          1
...       ...       ...      ...        ...
15221       3       212        2          1
15222       3       233        3          1
15223       3        95        4          1
15224       3      2221        3          1
15225       3      3686        3          1

[14910 rows x 4 columns]

Now we must load information about the distance between each respondent's home zone and each campus. First, we load the data from the LoS matrix.

In [4]:
# Dataframe with walk distances
df_path = pd.read_csv('../../LoS/Walk_Distances.csv')
origins = list(set(list(df_path['Origin'])))
dists = list(df_path['Data'])

Now, we declare a function to look up the walk distance given an origin-destination pair.

In [5]:
not_found = set()
# Function for distance lookup
def find_distance(origin, destination):
    try:
        i = origins.index(origin)
    except ValueError:
        not_found.add(origin)
        return 0
    try:
        j = origins.index(destination)
    except ValueError:
        not_found.add(destination)
        return 0
    return dists[i*2392 + j] / 1000

We run this function for each row on each school zone, creating seven new columns.

In [6]:
# List of campus' TTS zones from Joven's MOE data
campus_zones = [69, 566, 3631, 391, 225, 38, 67]

# Load distances in dataframe
for i in range(7):
    df["Dist" + str(i)] = df['HomeZone'].apply(lambda x: find_distance(x, campus_zones[i]))
len(not_found)

127

127 zones were not found as they are outside the GTHA. Let's see what our dataframe looks like now:

In [7]:
df

,Campus,HomeZone,Segment,Available,Dist0,Dist1,Dist2,Dist3,Dist4,Dist5,Dist6
0,1,261,3,1,10.256060,14.88098,29.20657,22.59214,9.218413,9.580635,11.241730
1,0,71,6,1,1.132351,23.03920,19.64290,15.87906,11.211150,2.675173,2.723838
2,0,3714,3,1,23.319230,45.63271,4.51742,28.58045,32.555200,24.964000,23.686150
3,0,74,4,1,0.699414,24.11954,19.43932,16.81186,12.830410,2.314008,1.541276
4,0,71,6,1,1.132351,23.03920,19.64290,15.87906,11.211150,2.675173,2.723838
...,...,...,...,...,...,...,...,...,...,...,...
15221,3,212,2,1,7.120260,19.01731,23.76046,14.19530,5.732956,6.553092,8.193741
15222,3,233,3,1,15.917590,12.03644,32.96591,17.68772,6.019180,15.242170,16.903260
15223,3,95,4,1,2.783940,25.09743,17.84462,15.53600,12.829600,4.733398,3.979057
15224,3,2221,3,1,23.379880,26.15476,37.35434,13.30458,15.379040,23.250580,24.518920
15225,3,3686,3,1,35.537980,53.96100,16.14689,34.80651,40.034760,36.584780,34.882980

We are now ready to run our model! We do this 13 times, each time keeping only one segment. The following funtion is used to print the results from each trial.

In [8]:
def print_results(results):
    print("___________Segment " + str(i) + "__________")
    print("n:" + str(results.getGeneralStatistics()['Sample size'][0]), "\tR^2", results.getGeneralStatistics()['Rho-square for the init. model'][0])
    print(results.getEstimatedParameters()[['Value', 'p-value']])
    print()

Finally, let's run the model.

In [9]:
for i in range(7):
    temp_df = df.copy()
    database = db.Database("SMTO", temp_df)
    globals().update(database.variables)
    database.remove(Dist0 == 0) # Remove unknown distances
    
    database.remove(Segment != i)
    
    # Beta initialization: (name, value, lowerbound, upperbound, status, desc='')
    # Status 0 if estimated, 1 if maintained - reference choice should be 1
    ASC_SG = Beta('ASC_SG', 0, None, None, 0)
    ASC_SC = Beta('ASC_SC', 0, None, None, 0)
    ASC_MI = Beta('ASC_MI', 0, None, None, 0)
    ASC_YK = Beta('ASC_YK', 0, None, None, 0)
    ASC_YG = Beta('ASC_YG', 0, None, None, 1)
    ASC_RY = Beta('ASC_RY', 0, None, None, 0)
    ASC_OC = Beta('ASC_OC', 0, None, None, 0)
    B_DIST = Beta('B_DIST', 0, None, None, 0)

    # Variables: from columns in database
    AV = DefineVariable('AV', Available, database)
    SG_DIST = DefineVariable('SG_DIST', Dist0, database)
    SC_DIST = DefineVariable('SC_DIST', Dist1, database)
    MI_DIST = DefineVariable('MI_DIST', Dist2, database)
    YK_DIST = DefineVariable('YK_DIST', Dist3, database)
    YG_DIST = DefineVariable('YG_DIST', Dist4, database)
    RY_DIST = DefineVariable('RY_DIST', Dist5, database)
    OC_DIST = DefineVariable('OC_DIST', Dist6, database)

    # Utility Functions: note ASC_YG is 0
    V0 = ASC_SG + B_DIST * SG_DIST
    V1 = ASC_SC + B_DIST * SC_DIST
    V2 = ASC_MI + B_DIST * MI_DIST
    V3 = ASC_YK + B_DIST * YK_DIST
    V4 = ASC_YG + B_DIST * YG_DIST
    V5 = ASC_RY + B_DIST * RY_DIST
    V6 = ASC_OC + B_DIST * OC_DIST

    V  = {0: V0, 1: V1, 2: V2, 3: V3, 4: V4, 5: V5, 6: V6}
    av = {0: AV, 1: AV, 2: AV, 3: AV, 4: AV, 5: AV, 6: AV}
    
    logprob = models.loglogit(V, av, Campus)

    biogeme = bio.BIOGEME(database, logprob, numberOfThreads=1)
    biogeme.modelName = "SMTO_Mod_Segmented_Output/SMTO_Campus_Choice_Segment_" + str(i)
    results = biogeme.estimate(saveIterations=True)
    print_results(results)

___________Segment 0__________
n:309 	R^2 0.4050554028268051
           Value       p-value
ASC_MI -0.255495  6.000047e-01
ASC_OC -1.799090  1.947648e-02
ASC_RY  2.629828  0.000000e+00
ASC_SC -0.288939  5.641055e-01
ASC_SG  1.774762  5.191874e-08
ASC_YK  1.267303  2.607649e-04
B_DIST -0.094884  3.663736e-14

___________Segment 1__________
n:2052 	R^2 0.17937358298637796
           Value       p-value
ASC_MI  0.997503  3.994138e-12
ASC_OC  0.210562  2.053757e-01
ASC_RY  2.060490  0.000000e+00
ASC_SC  1.088931  1.709743e-14
ASC_SG  1.996185  0.000000e+00
ASC_YK  2.055438  0.000000e+00
B_DIST -0.065239  0.000000e+00

___________Segment 2__________
n:985 	R^2 0.48252839204226916
           Value   p-value
ASC_MI  0.300008  0.302094
ASC_OC -0.644398  0.008023
ASC_RY  0.668489  0.000950
ASC_SC  0.161757  0.578532
ASC_SG  1.643464  0.000000
ASC_YK  1.908513  0.000000
B_DIST -0.178725  0.000000

___________Segment 3__________
n:5169 	R^2 0.19657541820245417
           Value   p-value
ASC_MI  1.202915  0.000000
ASC_OC  0.217550  0.074422
ASC_RY  2.397987  0.000000
ASC_SC  1.602811  0.000000
ASC_SG  2.451768  0.000000
ASC_YK  2.217525  0.000000
B_DIST -0.066965  0.000000

___________Segment 4__________
n:2660 	R^2 0.4229815561786008
           Value       p-value
ASC_MI  0.658786  2.201629e-04
ASC_OC  0.051414  7.364932e-01
ASC_RY  1.316487  0.000000e+00
ASC_SC  1.205860  5.553336e-13
ASC_SG  2.136767  0.000000e+00
ASC_YK  2.053086  0.000000e+00
B_DIST -0.158979  0.000000e+00

___________Segment 5__________
n:957 	R^2 0.4686746914374854
           Value       p-value
ASC_MI  1.387207  1.409425e-02
ASC_OC  1.181675  4.084719e-02
ASC_RY  3.386003  3.000733e-11
ASC_SC  1.390652  1.438601e-02
ASC_SG  5.073517  0.000000e+00
ASC_YK  3.919268  8.659740e-15
B_DIST -0.058357  2.442491e-15

___________Segment 6__________
n:2458 	R^2 0.5371179312764975
           Value       p-value
ASC_MI  1.737600  8.006931e-09
ASC_OC  0.464397  1.387941e-01
ASC_RY  2.001259  7.118750e-13
ASC_SC  1.735313  2.890070e-08
ASC_SG  4.232909  0.000000e+00
ASC_YK  3.612029  0.000000e+00
B_DIST -0.096913  0.000000e+00

Results information:  
http://biogeme.epfl.ch/jupyter/bioResults.html